.demo-k-layout-0 {
  text-align: center;
  color: #fff;
  &>.k-layout {
    margin-bottom: 20px;
    color: #fff
  }
  .k-layout-footer, .k-layout-header {
    background-color: #9dcaff;
  }
  .k-layout-content {
    min-height: 120px;
    line-height: 120px;
    background-color: #89bfff;
  }
  .k-layout-sider {
    line-height: 120px;
    background-color: #75b5ff;
    width: 200px;
  }
}

.k-demo-layout-1 {
  .logo {
    width: 120px;
    height: 31px;
    background: rgb(132, 139, 156);
    float: left;
    margin: 15px 30px 15px 0;
    position: relative;
    z-index: 801;
  }
  .demo-top-menu {
    line-height: 64px;
    height: 64px;
  }
  .demo-left-menu {
    height: 100%;
    border-right: 0px;
  }
  .k-demo-main {
    padding: 0 24px 24px;
  }
  .k-demo-main .nav {
    padding: 16px 0;
  }
  .k-demo-main .k-layout-content {
    background-color: #fff;
    padding: 24px;
    min-height: 300px;
  }
  .k-layout-sider {
    width: 200px;
  }
}

.k-demo-layout-2 {
  .logo {
    width: 120px;
    height: 31px;
    background: rgb(132, 139, 156);
    float: left;
    margin: 15px 30px 0px 0px;
    position: relative;
    z-index: 801;
  }
  .demo-top-menu {
    line-height: 64px;
    height: 64px;
  }
  .demo-left-menu {
    height: 100%;
  }
  .k-demo-main {
    padding: 0 50px;
  }
  .k-demo-main .nav {
    padding: 16px 0;
  }
  .k-demo-main .k-layout-content {
    background-color: #fff;
    padding: 24px;
    min-height: 300px;
  }
  .k-layout-sider {
    width: 200px;
  }
  .k-layout-footer {
    text-align: center;
    color: #999;
  }
}

.k-demo-layout-3 {
  .logo {
    width: 120px;
    height: 31px;
    background: rgb(132, 139, 156);
    float: left;
    margin: 15px 30px 0px 0px;
    position: relative;
    z-index: 801;
  }
  .demo-top-menu {
    line-height: 64px;
    height: 64px;
  }
  .demo-left-menu {
    height: 100%;
  }
  .k-demo-main {
    padding: 0 50px;
  }
  .k-demo-main .nav {
    padding: 16px 0;
  }
  .k-demo-main .k-layout-content {
    background-color: #fff;
    padding: 24px;
    min-height: 300px;
  }
  .k-layout-sider {
    width: 200px;
  }
  .k-layout-footer {
    text-align: center;
    color: #999;
  }
}

.k-demo-layout-4 {
  height: 360px;
  overflow: hidden;
  .demo-sider {
    background: #22303f;
    overflow: auto;
    height: 360px;
    /*这里是例子，实际中请适当修改*/
    left: 0;
    width: 200px;
  }
  .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }
  .k-demo-main {
    overflow: auto;
    height: 360px;
  }
  .k-demo-main .nav {
    padding: 20px 0 0 20px;
  }
  .k-layout-footer {
    text-align: center;
    color: #999;
  }
}

.k-demo-layout-5 {
  .toggle-menu {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 10px 0;
    color: #fff;
    background: #4e5965;
    width: 100%;
    cursor: pointer;
  }
  .demo-sider {
    background: #22303f;
    left: 0;
    position: relative;
  }
  .k-demo-main .nav {
    padding: 16px 0 0 16px;
  }
  .demo-top-menu {
    line-height: 64px;
    height: 64px;
  }
  .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }
  .k-demo-main {
    overflow: auto;
  }
  .k-layout-footer {
    text-align: center;
    color: #999;
  }
}

.k-demo-layout-6 {
  .dashboard {
    text-align: center;
    font-size: 20px;
    color: #333;
    background: #fff;
    /* padding:10px 0; */
  }
  .toggle-menu {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 10px 0;
    color: #fff;
    background: #4e5965;
    width: 100%;
    cursor: pointer;
  }
  .demo-sider {
    background: #22303f;
    left: 0;
    position: relative;
  }
  .k-demo-main .nav {
    padding: 16px 0 0 16px;
  }
  .demo-top-menu {
    line-height: 64px;
    height: 64px;
  }
  .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }
  .k-demo-main {
    overflow: auto;
  }
  .k-layout-footer {
    text-align: center;
    color: #999;
  }
}